header
  .hero
    section.layout
      .branding
        a(href="/")
          img(src="/images/misc/rouxacademymeetups.svg")
  
  .navigation
    section.layout
      ul.nav
        li
          a(href="/")
            i.icon-home  Home
        li
          a(href="/speakers")
            i.icon-user  Speakers
