article#getbusy
  h1 Get Busy!
  p
    | If you want to keep up with what's going on with the group, 
    a(href='http://www.meetup.com/') join our meetup group
    | , 
    a(href='http://www.twitter.com/') follow us on twitter
    | . If you're in FaceBook, you can also 
    a(href='http://www.facebook.com/') join our FaceBook group
