article#whoshouldcome
  h1 Who should come?
  ul
    li Anybody interested in art and the creative industry
    li Painters, sculptors, photographers and graphic artists
    li
      | Those interested in meeting and making a connection with others in the local art scene.
